@model DigitopiaQuest.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameOfBook" class="control-label"></label>
                <input asp-for="NameOfBook" class="form-control" />
                <span asp-validation-for="NameOfBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfBook" class="control-label"></label>
                <input asp-for="DescriptionOfBook" class="form-control" />
                <span asp-validation-for="DescriptionOfBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorOfBook" class="control-label"></label>
                <input asp-for="AuthorOfBook" class="form-control" />
                <span asp-validation-for="AuthorOfBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelieseDateOfBook" class="control-label"></label>
                <input asp-for="RelieseDateOfBook" class="form-control" />
                <span asp-validation-for="RelieseDateOfBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingOfBook" class="control-label"></label>
                <input asp-for="RatingOfBook" class="form-control" />
                <span asp-validation-for="RatingOfBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
