@model DigitopiaQuest.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameOfGame" class="control-label"></label>
                <input asp-for="NameOfGame" class="form-control" />
                <span asp-validation-for="NameOfGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfGame" class="control-label"></label>
                <input asp-for="DescriptionOfGame" class="form-control" />
                <span asp-validation-for="DescriptionOfGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserScore" class="control-label"></label>
                <input asp-for="UserScore" class="form-control" />
                <span asp-validation-for="UserScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDateOfGame" class="control-label"></label>
                <input asp-for="ReleaseDateOfGame" class="form-control" />
                <span asp-validation-for="ReleaseDateOfGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreOfGame" class="control-label"></label>
                <input asp-for="GenreOfGame" class="form-control" />
                <span asp-validation-for="GenreOfGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevCompany" class="control-label"></label>
                <input asp-for="DevCompany" class="form-control" />
                <span asp-validation-for="DevCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
