@model DigitopiaQuest.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameOfMovie" class="control-label"></label>
                <input asp-for="NameOfMovie" class="form-control" />
                <span asp-validation-for="NameOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeOfRating" class="control-label"></label>
                <input asp-for="AgeOfRating" class="form-control" />
                <span asp-validation-for="AgeOfRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImdbRating" class="control-label"></label>
                <input asp-for="ImdbRating" class="form-control" />
                <span asp-validation-for="ImdbRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreOfMovie" class="control-label"></label>
                <input asp-for="GenreOfMovie" class="form-control" />
                <span asp-validation-for="GenreOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfMovie" class="control-label"></label>
                <input asp-for="DescriptionOfMovie" class="form-control" />
                <span asp-validation-for="DescriptionOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDateOfMovie" class="control-label"></label>
                <input asp-for="ReleaseDateOfMovie" class="form-control" />
                <span asp-validation-for="ReleaseDateOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeDuration" class="control-label"></label>
                <input asp-for="TimeDuration" class="form-control" />
                <span asp-validation-for="TimeDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageOfMovie" class="control-label"></label>
                <input asp-for="ImageOfMovie" class="form-control" />
                <span asp-validation-for="ImageOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingOfMovie" class="control-label"></label>
                <input asp-for="RatingOfMovie" class="form-control" />
                <span asp-validation-for="RatingOfMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
